@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid rgba(33, 123, 244, 0.1);

}

.nav {

    display: flex;
    gap: 32px;
    align-items: center;
}

.header nav a {
    color: #656464;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;

}

#community {
    font-family: 'Inter', sans-serif;
    color: #656464;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 14px;
    border-color: transparent;
    background: transparent;
}

#cor-nav-home {
    color: #2B2B39;
    font-weight: 600;
}

.class-nav {
    padding: 40px;
    margin-left: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

#Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #2B2B39;

}

#botao-login {
    margin-right: 135px;
    background-color: #217BF4;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    width: 123px;
    height: 50px;
    border-radius: 14px;
    border: none;
}

#botao-login:hover {
    font-family: 'Inter', sans-serif;
    color: #2B2B39;
}

#png-logo {
    height: 40px;
}

.Membros {
    background: #FFFFFF;
}

.conteudo-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-1 h4 {
    margin-top: 37px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    color: #217BF4;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.conteudo-1 h2 {
    padding: 18px;
    font-family: 'Inter', sans-serif;
    color: #0A093D;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

}

.conteudo-1 p {
    font-family: 'Inter', sans-serif;
    color: #656464;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    width: 480px;

}

.sub-menu {
    margin-top: 38px;
    width: 474px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 14px;

    background-color: rgba(33, 123, 244, 0.06);
    /*AJUSTE TECNICO?*/
}

#botao-newst {

    background-color: transparent;
    font-family: 'Inter', sans-serif;
    color: #2F2C4A;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    height: 56px;
    border-radius: 16px;
    border: none;

}

#botao-popular {

    background-color: transparent;
    font-family: 'Inter', sans-serif;
    color: #2F2C4A;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    height: 56px;
    border-radius: 16px;
    border: none;
}

#botao-active {

    background-color: #217BF4;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    width: 150px;
    height: 56px;
    border-radius: 16px;
    border: none;
}

.conteudo-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 134px;
    padding: 74px;
}

.conteudo-2 h3 {
    font-family: 'Inter', sans-serif;
    color: #2F2C4A;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
}

.conteudo-2 h4 {
    font-family: 'Inter', sans-serif;
    color: #656464;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

#div-fahim {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

#div-kazi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

#div-masterero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

#div-alia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.Publicidade {
    margin: 0;
    padding: 0;
    font-family: Inter;
    background-color: #E5F0FD;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}

.Publicidade h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A093D;
}

.Publicidade p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #656464;
}

#texto_azul {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #217BF4;
}

.Publicidade button {
    width: 145px;
    height: 52px;
    text-align: left;
    border-style: none;
    border-radius: 6px;
    padding: 3% 3%;
    font-size: 10px;
}

.Publicidade b {
    font-size: 12px;
}

#apple {
    background-color: white;
    color: #202020;
}

#playstore {
    background-color: #29284E;
    color: lightgray;
}

.icon {
    width: auto;
    height: 100%;
    float: left;
    margin-right: 5%;
}

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0%;

}

.h1home {
    color: hsla(241, 74%, 14%, 1);
    font-size: 56px;
    font-weight: 700;

}

.imagemhome {
    height: 501px;
    width: 585px;

}

#Home {
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px;


}

.botoeshome {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.botao1home {
    color: white;
    border-style: none;
    border-radius: 14px;
    height: 50px;
    width: 150px;
    background-color: #217BF4;

}

.botao2home {
    background-color: white;
    border-color: #227df580;
    border-radius: 14px;
    color: #217BF4;
    height: 50px;
    width: 150px;
}

.bnet {
    border-style: none;
    color: #217BF4;
    background-color: #217cf42f;
    border-radius: 8px;
    height: 36px;
    width: 160px;
    left: 135px;
}

#footer {
    background-color: #2B2B39;

}

.texto {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-left: 5%;
    font-weight: 400;
    color: white;
    margin-top: 5%;
    margin-bottom: 90px;
}

.subtitle {
    font-size: 20px;
}

.homefot {
    display: flex;
    flex-direction: column;


}

.resources {
    display: flex;
    flex-direction: column;


}

.community {
    display: flex;
    flex-direction: column;


}

.mainlink {
    display: flex;
    flex-direction: column;

}

#cirkle {
    max-width: 200px;
}

.subs {
    margin-top: 1%;

}

.subtext {
    max-width: 300px;
}

input {

    border-radius: 12px;
}

.insemail {
    border: 1px solid white;
    border-radius: 14px;
    display: flex;
    flex-direction: row;

}

button {
    border-radius: 12px;

}

input {
    border-style: none;
    background-color: #2B2B39;
    display: flex;
    width: 220px;
    height: 48px;
}

#btft {
    border-style: none;
    background-color: white;
    position: relative;
    width: 126px;
    height: 50px;
    color: #2B2B39;
}

footer {
    color: white;
    height: 96px;
    width: auto;
    background-color: #20202D;
}

.ftext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logoft {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#logopng {
    height: 34px;
    margin-top: 13%;
}