@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body{
    font-family: 'Inter';
    margin: 0;
    padding: 0%;
    
}

.h1home{ 
    color:hsla(241, 74%, 14%, 1);
    font-size: 56px;
    font-weight: 700;
    
}
.imagemhome{
height: 501px;
width: 585px;

}
#Home{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);}
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px;
    
    
}
.botoeshome{
    display: flex;
    flex-direction: row;
    gap: 20px;
 
}
.botao1home{
    color: white;
    border-style: none;
    border-radius: 14px;
    height: 50px;
    width:150px;
    background-color: #217BF4;
    
}
.botao2home{
   background-color: white;
    border-color: #227df580;
    border-radius: 14px;
    color: #217BF4;
    height: 50px;
    width:150px;
}
.bnet{
    border-style: none;
    color: #217BF4;
    background-color: #217cf42f;
    border-radius: 8px;
    height: 36px;
    width: 160px;
    left: 135px;
}